#tela-principal.alerta {
  animation: alerta-piscante 0.5s infinite;
  animation-iteration-count: 10;
}

@keyframes alerta-piscante {
  from,
  to {
    filter: invert(0%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  50% {
    filter: invert(100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
